@font-face {
    font-family: RotondaC;
    src: url("../fonts/rotondac-bold.otf") format("opentype");
}

body {
	background: #fbf3eb;

	-webkit-overflow-scrolling: touch;
}

#headerwrap {
	background: url(../images/header.png) no-repeat center top;
	background-attachment: relative;
	background-position: center;
	width: 100%;
	min-height: 40vh;

	-webkit-background-size: cover;
	background-size: cover;
}

.name {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.name h5 {
	margin-left: 10px;
	color: #2d5d7e;
	font-family: RotondaC;
}

.content ul {
	padding: 0 10px;
	text-align: left;
	list-style: none outside;
}

.content h6 {
	padding: 10px 10px 0;
	margin: 0;
}

.content a {
	color: #000;
	font-size: 1rem;
}

