@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@500&display=swap');

html, body {
    font-family: Mukta;
}

.container-fluid {
    padding: 0 5vw;
}

h1 {
    margin-top: 100px;
    margin-bottom: 2vw;
    font-size: 700%;
    width: 100%;
    text-align: center;
    color: #111;
    font-weight: bolder;
}

/*------------------------------------------------------header----------------------------------------------------*/

.navbar {
    height: 100px;
    padding: 0;
}

.navbar, .navbar-collapse {
    background: #fff!important;
}

.navbar-collapse, .navbar-brand {
    padding-left: 5vw;
}

.navbar-toggler:focus {
    outline: none;
}

.navbar-brand {
    font-size: 30px;
    font-weight: bold;
}

.nav-item {
    font-size: 20px;
    font-weight: 500;
    margin-right: 10px;
}

.navbar-nav, .navbar-toggler {
    margin-right: 5vw;
}

/*------------------------------------------------------welcome----------------------------------------------------*/

.carousel, .carousel-inner, .carousel-item{
    height: 65vw;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-shadow: 1px 1px 10px #000;
}

.carousel-caption h1 {
    color: #fff;
    font-size: 300%;
    font-weight: bold;
}

.carousel-item-1 {
    background: url(../images/carousel1.JPG);
}

.carousel-item-2 {
    background: url(../images/carousel2.JPG);
}
.carousel-item-1, .carousel-item-2 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (min-width: 768px) {
    .carousel, .carousel-inner, .carousel-item {
        height: calc(100vh - 100px);
    }
    .carousel-caption h1 {
        font-size: 500%;
    }

    .carousel-caption h3 {
        font-size: 300%;
    }
}

/*------------------------------------------------------About----------------------------------------------------*/

.about h2 {
    margin: 2vw 0;
    font-size: 300%;
    width: 100%;
    text-align: center;
    color: #111;
    font-weight: bolder;
}

.about p {
    font-size: 20px;
}

.shape {
    height: 600px;
    clip-path: polygon(33% 0, 100% 0, 100% 100%, 0 100%);
    background: url(../images/about.JPG);
    background-size: cover;
}

.skill-item {
	position: relative;
    background: #f4f4f4;
    border-radius: 50px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 7px solid transparent;
    background-clip: padding-box;
}

.skill-item:before {
	content: "";
	float: left;
	padding-top: 100%;
}

.skill-item img {
    width: 75%;
    height: auto;
}

/*------------------------------------------------------Gallery----------------------------------------------------*/


