html,
body {
	overflow: hidden;
	overflow-x: hidden;
	background-color: black; 
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

a:link:active {
	color: white;
}

a:link {
	color:red;
}

header {
	margin: 5px;
/*	border: 2px dashed red;*/
	margin-bottom: 40px; 
	animation: intro-header .7s;
}

@keyframes intro-header{
	0%{
		transform: translateY(-150px);
		opacity: 0;
	}

	30% {
		transform: translateY(-150px);
		opacity: 0;
	}

	100%{
		transform: translateY(0);
		opacity: 1;
	}
}

footer {
	min-height: 150px;
/*	border: 2px dashed red;*/
	font-family: panic;
	color:red;
	text-align: center;
	letter-spacing: 5px;
	font-size: 25px;
	animation: intro-footer .7s;
}

@keyframes intro-footer{
	0%{
		transform: translateY(150px);
		opacity: 0;
	}

	30% {
		transform: translateY(150px);
		opacity: 0;
	}

	100%{
		transform: translateY(0);
		opacity: 1;
	}
}

.name {
	color: red;
	font-family: panic;
	font-size: 100px;
	height: 150px;
	text-align: center;
	padding: 0 10px;
	float: left;
	cursor: default;
}

.name:hover {
	color: white;
	margin-left: 3px;
}


.media {
	display:block; 
	margin: auto;
	transition-duration: 0.1s;
	transition-delay: 0.2s;
	animation: intro-main .5s ease;
}

@keyframes intro-main {
	 0%{
	 	transform: scale(2);
	 	opacity: 0;
	 }

	 100%{
	 	transform: scale(1);
	 	opacity: 1;
	 }
}

.media:hover {
	transform: scale(1.05, 1.05);
	transition-delay: 0s;
}

.social {
	float: right;
	height: auto;
	margin-top: 40px;
	margin-right: 50px;
}


.soc {
	display: inline-block;
	float: right;
	margin-left: 100px;
	transition-property: margin-top;
	transition-duration: 0.3s;
	transition-delay: 0.2s;
}

.soc:hover {
	margin-top: 10px;
	transition-delay: 0s;
}

.content {
/*	border: 2px dashed red;*/
	margin-bottom: 40px;
}

.contact {
	position: absolute;
	text-align: center;
	display: none;
	height: 0;
	width: 200px;
	font-size: 45px;
	margin-left: 447px;
	padding-top: 50px;
/*	border: 2px dashed white;*/
	transition-duration: 1s;
	transition-delay: 0.2s;
}

.wrapper:active .contact {
	display: block;
}


.contact:hover {
	height: 50px;
	display: block;
	cursor: pointer;
	transition-delay: 0;
}


.wrapper {
	position: relative;
}

.button {
/*	border: 2px dashed white;*/
	text-align: center;
	font-size: 40px;
	display: block;
	height: 50px;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	transition-duration: 0.2s;
	transition-delay: 0.1s;
}

.button:hover {
	transition-delay: 0;
	color:white;
	cursor: pointer;
}

/*size*/

.size {
	width: 1100px;
/*	border: 2px solid red;*/
	margin: 0 auto;
	box-sizing: border-box;
}

.size::after {
	content: "";
	display: table;
	clear: both;
}


